# Unnecessary files to ignore

*.exe
*.obj
*.o
*.out
.vscode/
*.log
*.tmp
*.bak
*.swp
*.suo
*.user
*.vcxproj.*
*.ipch
*.pch
*.class
.DS_Store
Thumbs.db
*.dll
*.pdb
*.idb
*.ilk
*.aps
*.ncb
*.sdf
*.opensdf
*.tlog
*.vs
*.vscode
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
dist/
debug/
release/
.idea/
*.code-workspace